@model MovieWebsite.Models.Movie
@{
    Layout = "_Layout";
}
@if (TempData["SuccessMessage_favo"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-2 auto-dismiss" role="alert">
        @TempData["SuccessMessage_favo"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show mt-2 auto-dismiss" role="alert">
        @TempData["InfoMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-2 auto-dismiss" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ThumbnailUrl" alt="@Model.Title" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-8">
            <h2>@Model.Title</h2>
            <p><strong>Thời lượng:</strong> @Model.Duration</p>
            <p><strong>Quốc gia:</strong> @Model.Country</p>
            <p><strong>Mô tả:</strong> @Model.Description</p>
            <a href="@Url.Action("Watch", "Movie", new { id = @Model.MovieId })" class="btn btn-danger mt-3">
                <i class="fas fa-play"></i> Xem phim
            </a>
            <form asp-action="AddToFavorites" asp-controller="Movie" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="movieId" value="@Model.MovieId" />
                <button type="submit" class="btn btn-outline-danger mt-3">
                    ❤️ Thêm vào yêu thích
                </button>
            </form>


            @{
                 double avgStars = Model.Ratings.Count > 0 ? Model.Ratings.Average(r => r.Stars) : 0;
             }
            <p><strong>Đánh giá trung bình:</strong> @avgStars.ToString("0.0") ⭐ (từ @Model.Ratings.Count lượt đánh giá)</p>
    
        </div>
    </div>
</div>

<script>
    // Ẩn tất cả alert sau 3 giây
    window.addEventListener('DOMContentLoaded', () => {
        const alerts = document.querySelectorAll('.auto-dismiss');
        alerts.forEach(alert => {
            setTimeout(() => {
                alert.classList.remove('show');
                alert.classList.add('hide');
            }, 3000);
        });
    });
</script>